$background-color: rgb(251,247,247);
$red: rgb(152,12,12);
$green: rgb(13,124,26);
$grey-accent: rgb(195,190,190);
$dark-accent: black;

body {
  padding: 20px;
  margin: 0px;
  background-color: $background-color;
}

#deliveryTakeoutPage {
  background-color: $background-color;
  height: 100vh;
}

#orderPage {
  // display: none;
}

.delivery, .takeout {
  height: 200px;
  color: $background-color;
  text-decoration: underline;
  font-style: italic;
  text-decoration-color: $green;
  background-color: $red;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 200px;
}

.pizzaSubtotal {
  background-color: rgb(206, 219, 216);
  padding: 20px;
  border-radius: 5px;
  display: none;
  height: 400px;
}

.orderCart {
  background-color: rgb(209, 206, 206);
  padding: 20px;
  border-radius: 5px;
  margin-right: 50px;
}

.italics {
  font-style: italic;
}