$background-color: white;
$grey-accent: grey;
$dark-accent: black;

body {
  margin: 25px;
}

.pizzaSubtotal {
  background-color: rgb(206, 219, 216);
  padding: 20px;
  border-radius: 5px;
}

.orderCart {
  background-color: rgb(209, 206, 206);
  padding: 20px;
  border-radius: 5px;
  margin-right: 100px;
}